{% extends "layout.html.twig" %}
{% block content %}
    <div id="mb_photo" class="row">
        <div class="columns large-6">
            <h2>About Me</h2>
            <ul>
                <li>I'm a web developer living in Poland. Currently am working as freelancer, and looking for new job
                    opportunities.
                </li>
                <li>For over 14 years i have been working in the IT sector, most of this time i spend in web development
                    and
                    computer hardware/software maintenance.
                </li>
            </ul>
            <h2>Key skills</h2>
            <ul>
                <li>Coding: PHP 5/7, MySQL, HTML, CSS, Gulp, jQuery, Ajax, etc.</li>
                <li>Frameworks: Symfony2, Silex, Zend 1</li>
                <li>Server management: LAMP environment for hosting Web sites</li>
                <li>Graphic software: Adobe Photoshop, Lightroom, CorelDraw</li>
                <li>OS: good knowledge of osx/windows/linux</li>
                <li>IDE: phpStorm (preferred), NetBeans, Sublime Text, Atom</li>
                <li>VC: Git, Svn</li>
            </ul>
            <h2>Interests & hobbies</h2>
            <ul>
                <li>Travel photography</li>
                <li>Any outdoor activities (biking, camping, fishing, hiking, etc.)</li>
                <li>In spare time i like to play online games (mostly World of Warcraft, Diablo III, Hearthstone - in
                    this order
                    :) )
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

