{% extends "layout.html.twig" %}
{% block content %}
    <div class="row">
        <div id="list" class="columns large-6">
            <h1>Curriculum vitae</h1>
            <ul>
                <li>
                    mar 1999 - oct 2000 : „JPS Komputer“
                    <ul>
                        <li>
                            IT technician & client support
                        </li>
                    </ul>
                </li>
                <li>
                    aug 2000 - mar 2001 : „Nucleus“ (owner)
                    <ul>
                        <li>Web developer</li>
                        <li>IT technician</li>
                    </ul>
                </li>
                <li>
                    mar 2001 - dec 2008 : „Profit“
                    <ul>
                        <li>Web developer</li>
                        <li>Local network administrator</li>
                        <li>Database administrator (MySQL)</li>
                        <li>Linux server administrator (Debian)</li>
                        <li>IT technician</li>
                    </ul>
                </li>
                <li>
                    jun 2008 - oct 2013 : „Infoludek.pl“
                    <ul>
                        <li>Head of technical department</li>
                        <li>Local network administrator</li>
                        <li>Web developer</li>
                    </ul>
                </li>
                <li>
                    nov 2013 - march 2015 : freelance web developer
                </li>
                <li>
                    april 2015 - present : MB Software (owner)
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
